/*Default Styling */
/* rgb(244, 246, 249); */
body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Pacifico', cursive;
    color: #474747;

}

#hero {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    background: url(../img/hero-bg.jpg) no-repeat center center;
    background-color: #f3f5f8;
    min-height: 500px;
    min-width: 100%;
}

.main-nav {
    display: inline-block;
    text-align: right;
    padding: 15px 0;
    position: relative;
    background: rgba(244, 246, 249, 1);
    width: 100%;
    height: 30px;

}
.main-nav > a {
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #737070;
    font-size: .75em;

}

.main-nav > a:last-child {
    margin-right: 20px;
}

.main-nav > a:hover {
    color: #e73e92;
    font-weight: 600;
}
.logo-img {
    float: left;
    display: inline-block;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    height: 30px;
    width: 185px;
    margin-left: 20px;
}
#hero > h1 {
    margin: 150px 0 10px 0;
    text-align: center;
    font-size: 4em;
    line-height: 1.2em;
}
#hero > h1 > .pink{
    color:#e73e92;
}

.pink {
    color:#e73e92;
}
.highlight {
    background: rgba(244, 246, 249, 1);
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
    max-width: 25em;
}
.highlight > p {
    margin: 5px;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    color: #737070;

}
.main-cta {
    display: block;
    margin: 50px auto;
    padding: 8px 15px 0px 15px;
    text-align:center;
    text-transform: uppercase;
    border: 4px solid #e73e92;
    border-radius: 6px;
    height: 30px;
    width: 150px;
    text-decoration: none;
    letter-spacing: .1em;
    font-weight: 600;
    color: #e73e92;
    transition: transform 1s cubic-bezier(.14,2,.88,1.08) 0s;
}

.main-cta:hover {
    background-color: rgba(231, 62, 146, 1);
    color: white;
    transform: scale(1.03);
}

/* -- INTRO SECTION -- */

#intro {
    margin: 0 auto;
    display: block;
    position: relative;
    background: rgb(244, 246, 249);
    background-size: cover;
    max-width:100%;
}

.intro-content {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 960px;
}

.intro-content > h2 {
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
}

.intro-content > p {
    text-align: center;
    color: #737070;
}

.img-box {
    text-align: center;
}
.img-box > img {
    margin: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
}

/* -- RENTAL SECTION -- */

#rentals {
    margin: 0 auto;
    display: block;
    position: relative;
    max-width:100%;
}
.rental-content {
    margin: 0 auto;
    padding: 20px;
    max-width: 960px;
    overflow: hidden;
}

.rental-content > h2 {
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
}

.rental-content > .left-align {
    margin: 0;
    display: inline-block;
    text-align: left;
    width: 60%;
}

.rental-content > p {
    color: #737070;
}

.price-table {
    color: #737070;
    margin: 16px 5px 5px 5px;
    display: inline-block;
    text-align: center;
    float: right;
    border-collapse: collapse;
    border-spacing: 0;
    width: 35%;
}

th {
    color: #474747;
    background: rgba(0, 0, 0, .1);
}

th, td {
    height: 1.5em;
    width: 33%;
    padding: 5px;
    border: 1px solid #737070;
    vertical-align: top;
}

/* -- LOCATION SECTION -- */

#location {
    margin: 0 auto;
    display: block;
    position: relative;
    background-size: cover;
    max-width:100%;

}
.location-content {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 960px;
}

.location-content > h2 {
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
}

.location-content > p {
    text-align: center;
    color: #737070;
}

.location-box {
    text-align: center;

}
.location-box > img {
    margin: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
    width: 100%;
}

/* --- FOOTER SECTION --- */

#page-footer {
    margin: 0 auto;
    padding: 50px 25px;
    display: block;
    position: relative;
    background: rgb(244, 246, 249);
    background-size: cover;
    max-width:100%;
}

.contact-info {
    display: inline-block;
    line-height: 10px;
    font-size: 14px;
    font-weight: bolder;
}
.contact-info > p, a {
    color: #737070;
}

.contact-info > p:nth-child(3) {
    padding: 15px 0;
}

.contact-info > p:nth-child(n+4) {
    font-weight:normal;
}

.social-links {
    margin-top: 0;
    float: right;
    display: block;
}

.social-links > ul {
    margin-top: 0;
}

.social-links > ul > li, a {
    font-size: 14px;
    line-height: 26px;
    list-style-type: none;
    margin-right:15px;
    text-decoration: none;
}
.social-links > ul > li > a:hover {
    color: #e73e92;
    font-weight: 600;

}

.social-links > ul > li:before {
    content: url(../img/at-symbol15.png);
}
